In [29]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, fbeta_score
from joblib import dump
import numpy as np
pd.set_option("display.float_format", lambda x: "%0.3f" % x)
np.set_printoptions(suppress=True)

In [15]:
data = pd.read_csv("Data/processed_data")
data

,Montly income (RUB),int_rate,loan_amount (RUB),other loans,is_loss,MORTGAGE,OTHER,OWN,RENT,Debt consolidation,car,credit card,house,major purchase,other,small business,vacation
0,38022,0.153,200000,4,1,0,0,0,1,0,1,0,0,0,0,0,0
1,60836,0.186,240000,4,0,0,0,0,1,0,1,0,0,0,0,0,0
2,63371,0.160,960000,11,1,0,0,0,1,0,1,0,0,0,0,0,0
3,53231,0.106,360000,9,0,1,0,0,0,0,1,0,0,0,0,0,0
4,105196,0.060,280000,28,0,1,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38568,126742,0.130,1940000,33,0,1,0,0,0,0,0,0,0,0,1,0,0
38569,63371,0.135,2016000,18,0,0,0,0,1,0,0,0,0,0,1,0,0
38570,82382,0.175,2000000,20,0,0,0,0,1,0,0,0,0,0,1,0,0
38571,466413,0.182,1920000,9,0,0,0,0,1,0,0,0,0,0,1,0,0
38572,101394,0.210,1440000,7,0,0,0,0,1,0,0,0,0,0,1,0,0

In [16]:
X = data.drop("is_loss", axis= 1)
Y = data["is_loss"]
X.reset_index(inplace=True, drop=True)
Y.reset_index(inplace=True, drop=True)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
X_test.reset_index(inplace=True, drop=True)
Y_test.reset_index(inplace=True, drop=True)
Y_test = pd.DataFrame(Y_test)
print(f"X_train: {X_train.shape}\nX_test: {X_test.shape}\nY_train: {Y_train.shape}\nY_test: {Y_test.shape}")

X_train: (28929, 16)
X_test: (9644, 16)
Y_train: (28929,)
Y_test: (9644, 1)

In [17]:
min = X_train.min()
max = X_train.max()
X_train_norm = ((X_train - min) / (max - min))
X_test_norm = ((X_test - min) / (max - min))
# X_train_norm = X_train.copy()
# X_test_norm = X_test.copy()
# for col in X_train.columns[:4]:
#     print(col)
#     X_train_norm[col] = X_train_norm[col].apply(lambda val: (val - min) / (max - min))
#     X_test_norm[col] = X_test_norm[col].apply(lambda val: (val - min) / (max - min))
# X_test_norm.describe()
# print(type(X_train.columns))

In [ ]:
def get_metric_results(learned_model, metric):
    return metric(Y_test, learned_model.predict(X_test_norm))

model = DecisionTreeClassifier()
model.fit(X_train_norm, Y_train)
predict = model.predict(X_train_norm)
recall = recall_score(Y_train, predict)
# plt.figure(figsize=(15, 10))
# plot_tree(model, feature_names=X_train.columns, filled=True, rounded=True)
# plt.title("Получившееся дерево: ")
# plt.show()
print(recall)
features = np.reshape([63371,0.1596,960000,11,0,0,0,1,0,1,0,0,0,0,0,0], shape=(1, -1))
for key, value in enumerate(min):
    features[key] = 

print("-" * 10)
print(min)
print(features)
#print("Predict: " + str(model.predict(np.reshape([63371,0.1596,960000,11,0,0,0,1,0,1,0,0,0,0,0,0], shape=(1,-1)))))
# best_param = 2
# best_recall = 0
# for param in range(1, 15 + 1):
#     test_model = DecisionTreeClassifier(max_depth=param)
#     test_model.fit(X_train_norm, Y_train)
#     test_predict = test_model.predict(X_test_norm)
#     acc = get_metric_results(test_model, accuracy_score) 
#     precision = get_metric_results(test_model, precision_score)
#     recall = get_metric_results(test_model, recall_score)
#     f_beta = fbeta_score(Y_test, test_predict, beta = 1.5) 
#     if recall > best_recall: 
#         best_recall = recall
#         best_param = param
#         model = test_model
#     print(f"""Param = {param}: Accuracy: {acc:.5f}\n\tPrecision: {precision:.5f} 
#           \n\tRecall: {recall:.5f}\n\tF(1.5)b = {f_beta:.5f}""")
#     print("-" * 20)

# print(f"Модель обучена на параметре k = {best_param}")

0.9994966020639315
5069.0
0.0542
40000.0
2.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
----------
Montly income (RUB)    5069.000
int_rate                  0.054
loan_amount (RUB)     40000.000
other loans               2.000
MORTGAGE                  0.000
OTHER                     0.000
OWN                       0.000
RENT                      0.000
Debt consolidation        0.000
car                       0.000
credit card               0.000
house                     0.000
major purchase            0.000
other                     0.000
small business            0.000
vacation                  0.000
dtype: float64
[[ 63371.          0.1596 960000.         11.          0.          0.
       0.          1.          0.          1.          0.          0.
       0.          0.          0.          0.    ]]

In [19]:
print(recall)

0.1860294117647059

In [20]:
prediction = model.predict(X_test)
prediction = pd.DataFrame(prediction, columns=['Prediction'])
results = pd.concat([X_test, prediction["Prediction"], Y_test], axis= 1, join="inner")
results.rename(columns={"is_loss": "Real Value"}, inplace= True) 
results[results["Real Value"] == 1]

,Montly income (RUB),int_rate,loan_amount (RUB),other loans,MORTGAGE,OTHER,OWN,RENT,Debt consolidation,car,credit card,house,major purchase,other,small business,vacation,Prediction,Real Value
7,177439,0.174,2000000,16,0,0,1,0,0,0,0,0,0,0,1,0,1,1
10,54499,0.175,200000,17,0,0,0,1,1,0,0,0,0,0,0,0,0,1
24,95057,0.168,512000,27,0,0,0,1,1,0,0,0,0,0,0,0,0,1
26,69708,0.127,1480000,23,1,0,0,0,0,0,1,0,0,0,0,0,0,1
32,60076,0.100,512000,15,0,0,0,1,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9602,221799,0.199,2800000,26,1,0,0,0,0,0,0,0,0,1,0,0,0,1
9608,63371,0.054,800000,28,1,0,0,0,1,0,0,0,0,0,0,0,0,1
9625,152091,0.127,1920000,14,0,0,0,1,0,0,1,0,0,0,0,0,0,1
9628,152091,0.206,2800000,22,1,0,0,0,1,0,0,0,0,0,0,0,0,1
9630,30418,0.089,1220000,9,0,0,0,1,0,0,0,0,1,0,0,0,0,1

In [ ]:
# model_path = "KNN.sav"
# dump(model, model_path)

['KNN.sav']